<!DOCTYPE html>
<html>
<head>
	<title>Pittsburgh Next Bus API</title>
	<style type="text/css" media="screen">
		body {
			font: 1.5em Helvetica, sans-serif;
			padding: 2em;
		}
		p { 
			line-height: 1.5em;
		}
		a, a:hover {
			text-decoration: none;
			color: #fff;
			background: #4caf50;
			padding: 0.5em;
			font-size: 1.2rem;
		}
	</style>
</head>	
<body>
	<p><strong>This domain hosts the API for the Pittsburgh Next Bus app.</strong></p>
	<p><a href="http://pghnextbus.com">Get the App</a> for iOS, Android, and mobile web.</p>
	<p><a href="http://github.com/nhfruchter/pghnextbus-app-api">View the API</a> on GitHub.</p>
</body>
</html>	

		